* {
    margin: 0;
    padding: 0;
}
.wrap {
    width: 1100px;
    margin: 0 auto;
}
.header {
    height: 76px;
    position: relative;
}
body {
    font: 12px/1.8 Tahoma,Verdana,Arial,\5b8b\4f53;
    color: #333;
}
.header img {
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
}
.menu_box {
    position: absolute;
    width: 450px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
    right: 5px;
    padding-top: 15px;
}
.menu_box li {
    width: 90px;
    height: 36px;
    list-style: none;
    float: left;
}
.menu_box a {
    width: 100%;
    height: 100%;
    display: block;
    color: #434343;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

}
.menu_box a:hover{
    color: #A61C00;
}

.banner img{
    max-width: 100%;
}

.menu {
    width: 1100px;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    /*margin-top: 30px;*/
    margin: 0 auto;

}
.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #434343;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 30px;
}
.ll {
    margin: 0 auto;
    text-align: center;
}

.photo li {
    list-style: none;
    padding: 10px 20px 40px 20px;
    width: 220px;
    float: left;
    text-align: center;
}
.photo a {
    text-decoration: none;
}
.photo img {
    width: 100%;
    border: 6px solid #cccccc;
}
.photo span a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
}
.photo img:hover {
    width: 100%;
    border: 6px solid #F90;
}
.photo span a:hover {
    font-size: 16px;
    text-decoration: none;
    color: blue;
}

.da {
    width: 1090px;
    height: 361px;
    padding: 5px;
    clear: both;
    margin: 0 auto;
}
.zda h2{
    width: 335px;
    height: 32px;
    padding-bottom: 15px;
    padding-top: 10px;
    float: left;
    text-align: center;
}
.zda {
    width: 335px;
    height: 351px;
    float: left;
}
.bd {
    width: 335px;
    height: 259px;
    padding-bottom: 20px;
    padding-top: 20px;
    clear: both;
    border: 1px dotted #333333;
}
.pp {
    width: 335px;
    height: 30px;
    text-align: center;
}
.ww {
    width: 262px;
    height: 26px;
    outline: none;
}
.zz {
    width: 84px;
    height: 24px;
    margin-top: 10px;

}
.bd span {
    color: red;
}
.huge {
    width: 1100px;
    height: 1142px;
    background: #fafdff;
}
.rr input{
    width: 100px;
    height: 25px;
    margin-top: 20px;
    line-height: 20px;
    border: none;
    background: #666;
    color: white;

}
.rr {
    text-align: center;
}
.yda h2{
    width: 675px;
    height: 32px;
    padding-bottom: 15px;
    padding-top: 10px;
    float: right;
    text-align: center;
}
.wz {
    width: 637px;
    height: 240px;
    padding: 20px;
    border: #999 1px dotted;
    float: right;
}
.wz li {
    list-style: none;
    height: 25px;
    line-height: 25px;
    border-bottom: #999 1px dotted;
    text-align: left;
    font-size: 15px;
    padding: 8px 0 0 15px;
    background: url("Problem-bg.png") no-repeat left 15px;
}
.wz a {
    text-decoration: none;
    color: #666;
}
.wz a:hover {
    background: none;
    color: #0064d4;
}













































.footer {
    padding: 15px 0px 20px 0px;
    width: 1349px;
    height: 100px;
    background: #414B4A;
    clear: both;
}

.l1 {
    width: 70px;
    height: 18px;
    float: left;
    list-style: none;

}
.l2 {
    width: 40px;
    height: 18px;
    float: left;
    list-style: none;

}
.footer li a {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
}
.q1 {
    width: 320px;
    height: 27px;
    margin: 0 auto;
}
.q2 {
    clear: both;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
}
.q3 {
    height: 33px;
    color: white;
    text-align: center;
    padding-top: 6px;
}
.q3 a {
    color: white;
    text-decoration: none;
    line-height: 33px;
}

.end {
    width: 1339px;
    height: 21px;
    padding: 5px;
    text-align: center;
    line-height: 21px;
}
.end a {
    color: black;
    text-decoration: none;

}
.end a:hover {
    color: red;
    text-decoration: none;
}
