* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.wrap {
    width: 1140px;
    margin: 0 auto;
}
.header {
    width: 1349px;
    height: 600px;
    background: url("images/banner.jpg") no-repeat -100px 0;

}
.tou {
    width: 1140px;
    height: 100px;
    /*background: yellow;*/
    margin: 0 auto;
    position:relative;
}
.dll {
    height: 16px;
    width: 28px;
    line-height: 100px;
    /*margin-left: 8px;*/
    padding: 0 8px;
}
.dl {
    /*display: inline-block;*/
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    /*margin-top: 40px;*/

    /*margin-left: 8px;*/
}
.dl:hover {

     color: #fff;
     font-size: 14px;
    border-bottom: 1px solid white;
 }
 .logo {
     font-size: 38px;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     color: #fff;
     text-decoration: none;
 }
 .lo {
     position:absolute;
     top: 50%;
     margin-top: -19px;
     left: 50%;
     margin-left: -147px;
 }
.wei {
    /*position: relative;*/
    width: 262px;
    height: 24px;
    float: right;
    margin: 28px 0 10px 0;
    text-align: center ;
    font-size: 14px;
}
.zz {
    /*font-size: 14px;*/
    background: rgba(55, 55, 55, 1);
    color: #fff;
    opacity: 0.8;
    padding: 10px 10px;

}
.aa {


    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}
.gwc {
    vertical-align: middle;                  //给img垂直方向居中  /*默认时字体与图片最底部对齐*/
    margin-left: 12px;

}
.clear {

    width: 70px;
    height: 20px;
    margin: 0 auto;
}
.clear a {
    color: #fff;
    text-decoration: none;
}


                                /*header end*/
.serach {
    width: 1140px;
    height: 40px;
    margin: 0 auto;
}
.serach-line {
    width: 1124px;
    height: 40px;
    background: #fa558f;

}

.lii {
    width: 190px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
}
#one {
      text-align: center;
      line-height: 40px;
      width: 158px;
      height:40px;
      background: #3C3B3B;
      float: left;

  }
#six {
    text-align: center;
    line-height: 40px;
    width: 206px;
    height: 40px;
    float: left;
}
.serach-line a {
    color: white;
    width: 100%;
    height: 100%;
    display:block;
    text-decoration: none;
}
.serach-line >li:hover {
    background: #3C3B3B;
}
.sum {
    width: 1140px;
    height: 300px;
    background:white;
    margin-left: -157px;
    display: none;
}

.tit1 {
    width: 190px;
    height: 50px;
    /*background: yellow;*/
    margin-left: 15px;
    border-bottom: 1px solid slategrey;
    /*text-align: left;*/

}
.bq1 a {
    color: grey;
    text-decoration: none;
    margin-left: 15px;
}
.bq1 a:hover {
    color: red;
    text-decoration: underline;
}
.sum2 {
    float: left;
}
.bq2 a{
    color: grey;
    text-decoration: none;
    margin-left: 15px;
}
.bq2 a:hover {
    color: red;
    text-decoration: underline;
}
.sum3 {
    float: left;
}
.bq3 a{
    color: grey;
    text-decoration: none;
    margin-left: 15px;
}
.bq3 a:hover {
    color: red;
    text-decoration: underline;
}
.sum4 {
    float: left;
}
.bq4 a{
    color: grey;
    text-decoration: none;
    margin-left: 15px;
}
.bq4 a:hover {
    color: red;
    text-decoration: underline;
}
.sum5 {
    float: left;
}
.bq5 a{
    color: grey;
    text-decoration: none;
    margin-left: 15px;
}
.bq5 a:hover {
    color: red;
    text-decoration: underline;
}










.sum1 {
    width: 190px;
    height: 300px;
    float: left;
    margin-right: 15px;
}
   /*serach end*/

.cate {
    /*width :1140px;*/
    height:210px;
    /*margin: 0 auto;*/
    margin-top: 50px;
}
.q1 {
    background: url("images/bg1.jpg")no-repeat ;
}
.q2 {
    background: url("images/bg2.jpg")no-repeat;
}
.q3 {
    background: url("images/bg3.jpg")no-repeat;
}
.q1 , .q2 , .q3 {
    position: relative;
    width: 364px;
    height: 210px;
    margin-right: 20px;
    float: left;
}
.tupian h4 {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 140px;
    right: 20px;
}
/* ... end*/

.chushou {
    width: 1140px;
    height: 1000px;
    /*background: yellow;*/


}
.shangpin {
    width: 340px;
    height: 438px;
    border:1px dotted grey ;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.chungao {
    width: 340px;
    height: 247px;

}
.chungao img {
    width: 247px;
    height: 247px;
    border:1px dotted grey ;
}
.chunjieshao {
    height: 40px;
    color: #000;
    font-weight: 400;
    font-size: 1.4em;
    text-indent: 10px;
    margin-top: 10px;
}
.money1 {
    color: #000;
    font-weight: 600;
    font-size: 1.7em;
    text-indent: 10px;
}
.shuru1 {
    width: 200px;
    height: 30px;
    text-indent: 10px;
}
.lan1 {
    text-indent: 10px;
    margin-top: 10px;
}
.anniu1 {
    color: #fff;
    width: 140px;
    height: 42px;
    background: #ef8743;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.anniu1:hover {
    background: #FF9000;
}
.xin {
    text-decoration: none;
    background: #fa558f;
    padding: 5px 10px;
    width: 21px;
    height: 20px;
    float: right;
    color: white;
    font-size: 1em;
    font-weight: 500;
}
.kouhongbi {
    width: 340px;
    height: 247px;
}
.kouhongjieshao {
    height: 40px;
    color: #000;
    font-weight: 400;
    font-size: 1.4em;
    text-indent: 10px;
    margin-top: 10px;
}
.kouhongbi img {
    width: 247px;
    height: 247px;
    border:1px dotted grey ;
}
.kouhongbi {
    width: 340px;
    height: 247px;
}
.kouhongjieshao {
    height: 40px;
    color: #000;
    font-weight: 400;
    font-size: 1.4em;
    text-indent: 10px;
    margin-top: 10px;
}
.kouhongbi img {
    width: 247px;
    height: 247px;
    border:1px dotted grey ;
}
.ruanxinchungao img {
    width: 247px;
    height: 247px;
    border:1px dotted grey ;
}
.bbshuang img {
    width: 247px;
    height: 247px;
    border:1px dotted grey ;
}
.yanying img {
    width: 247px;
    height: 247px;
    border:1px dotted grey ;
}
.caihe img {
    width: 247px;
    height: 247px;
    border:1px dotted grey ;
}
.footer {
    width: 1349px;
    height: 273px;
    background: url("images/banner2.jpg")no-repeat;
    -webkit-background-size: cover;        /*图片小于背景 用于整个铺满 cover*/
    margin-top: 30px;
    padding: 56px 0;
}
.conta {
    width: 1170px;
    height: 127px;
}
.two {
    width: 1040px;
    height: 112px;
    padding-top: 15px;
    padding-left: 100px;
}

.u1 {
    color: white;
    float: left;
}
.u1 li {
    width: 160px;
    height: 28px;
    padding-left: 30px;
    line-height: 28px;
    list-style: disc;
    color: white;
}
.u2 {
    color: white;
    float: left;
}
.u2 li {
    width: 160px;
    height: 28px;
    padding-left: 30px;
    line-height: 28px;
    list-style: disc;
    color: white;
}
.u3 {
    color: white;
    float: left;
}
.u3 li {
    width: 160px;
    height: 28px;
    padding-left: 30px;
    line-height: 28px;
    list-style: disc;
    color: white;
}
.u4 {
    color: white;
    float: left;
}
.u4 li {
    width: 160px;
    height: 28px;
    padding-left: 30px;
    line-height: 28px;
    list-style: disc;
    color: white;
}
.u5 {
    color: white;
    float: left;
}
.u5 li {
    width: 160px;
    height: 28px;
    padding-left: 30px;
    line-height: 28px;
    list-style: disc;
    color: white;
}
.u1 a {
    text-decoration: none;
    color: #ccc;
}
.u2 a {
    text-decoration: none;
    color: #ccc;
}
.u3 a {
    text-decoration: none;
    color: #ccc;
}
.u4 a {
    text-decoration: none;
    color: #ccc;
}
.u5 a {
    text-decoration: none;
    color: #ccc;
}
.u1 a:hover {
    text-decoration: none;
    color:  #ccc;
    border-bottom: 1px solid grey;
}
.u2 a:hover {
    text-decoration: none;
    color:  #ccc;
    border-bottom: 1px solid grey;
}
.u3 a:hover {
    text-decoration: none;
    color:  #ccc;
    border-bottom: 1px solid grey;
}
.u4 a:hover {
    text-decoration: none;
    color:  #ccc;
    border-bottom: 1px solid grey;
}
.u5 a:hover {
    text-decoration: none;
    color:  #ccc;
    border-bottom: 1px solid grey;
}
.footer_logo {
    width: 1349px;
    height: 34px;
    background: #fa558f;
    padding: 24px 0;
}
.footer_logo a {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    /*margin-left: 100px;*/
    width: 97px;
    height: 24px;

}
.kuai {
    width: 1140px;
    height: 40px;
}
.footer_logo a:hover {
    color: #3C3B3B;
}
.footer_logo p {
    width: 293px;
    height: 23px;
    color: white;
    float: right;
    margin-top: 20px;
}




/*行高等于高可以让单行文字垂直居中*/
/*缩小比例时 设置宽度 固定写死 这样不会掉下来
*/


/*流式布局 */

/*标准盒模型 看宽度和高度是内容的宽和高*/

/*overflow 溢出隐藏*/
/*当两个兄弟关系的div同时又margin-top和margin-bottom 取大的
*/

/*父子关系时 给子元素设margin-top*/
/*父元素会掉下来*/