* {
    margin: 0;
    padding: 0;
}
.wrap {
    width: 1100px;
    margin: 0 auto;
}
.header {
    height: 76px;
    position: relative;
}
body {
    font: 12px/1.8 Tahoma,Verdana,Arial,\5b8b\4f53;
    color: #333;
}

.header img {
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
}

.menu_box {
    position: absolute;
    width: 450px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
    right: 5px;
    padding-top: 15px;
}
.menu_box li {
    width: 90px;
    height: 36px;
    list-style: none;
    float: left;
}
.menu_box a {
    width: 100%;
    height: 100%;
    display: block;
    color: #434343;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

}
.menu_box a:hover{
    color: #A61C00;
}

.banner img{
    max-width: 100%;
}
.wy {
    width: 380px;
    height: 30px;
    margin: 0 auto;

}
.menu{
    width: 1100px;
    height: 30px;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
    background: #fafdff;
}
.menu a{
    display: inline-block;
    width: 100px;
    height: 28px;
    text-decoration: none;
    line-height: 28px;
    font-size: 16px;
    color: #434343;
}
.menu a:hover{
    display: inline-block;
    width: 100px;
    height: 28px;
    text-decoration: none;
    line-height: 28px;
    font-size: 16px;
    color: white;
    background: #6AA84F;
    border-radius: 7px;;
}
.xin {
    width:1080px;
    height: 306px;
    padding: 10px;
}

.baodao {
    list-style: none;
}
.baodao li {
    width: 1062px;
    height: 26px;
    padding: 8px 0 0 18px;
    text-align: left;
    border-bottom: 1px dotted #cccccc;
    background: url("article_arrow.gif") no-repeat left 18px;
}
.baodao li a {
    text-decoration: none;
    color: #434343;
}
.baodao li a:hover {
    text-decoration: none;
    color: blue;
}
.baodao li span {

    float: right;
    color: #666666;
    padding-right: 11px;
}




































.footer {
    padding: 15px 0px 20px 0px;
    width: 1349px;
    height: 100px;
    background: #414B4A;
    clear: both;
}

.l1 {
    width: 70px;
    height: 18px;
    float: left;
    list-style: none;

}
.l2 {
    width: 40px;
    height: 18px;
    float: left;
    list-style: none;

}
.footer li a {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
}
.q1 {
    width: 320px;
    height: 27px;
    margin: 0 auto;
}
.q2 {
    clear: both;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
}
.q3 {
    height: 33px;
    color: white;
    text-align: center;
    padding-top: 6px;
}
.q3 a {
    color: white;
    text-decoration: none;
    line-height: 33px;
}

.end {
    width: 1339px;
    height: 21px;
    padding: 5px;
    text-align: center;
    line-height: 21px;
}
.end a {
    color: black;
    text-decoration: none;

}
.end a:hover {
    color: red;
    text-decoration: none;
}
